/* selector con etiquetas html */
h1 {
    color: tomato;
}

ul {
    color: blue;
}

h3 {
    color: green;
}

/* selector por clases */
.texto {
    color: purple;
}

/* selector por id */
#tomate {
    color: red;
}

